{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
    I'm <strong>Santiago Alonso Brito de Jesús</strong>, a <strong>systems engineer and Software Development student at ITLA</strong>, passionate about building modern applications and web solutions.
  </p>
  <p>
    I specialize in <strong>Python, Flask, MongoDB and JavaScript</strong>, and I'm developing strong skills in web development and smart integrations. My experience includes working with <strong>Home Assistant</strong> and IoT devices, where I've created practical automations and dashboards that improve everyday living.
  </p>
  <p>
    I enjoy tackling challenges that require both problem-solving and creativity, and I'm especially interested in projects that combine <strong>software engineering with real-world applications</strong>. My goal is to continue mastering full-stack development and contribute to impactful projects in the tech industry.
  </p>
</main>
{% endblock %}