{% extends "base.html" %}

{% block content %}
    <main class="main main--project">
        <div>
            <img
                class="hero"
                src="{{ url_for('static', filename=project['hero']) }}"
                alt="{{ project['name'] }} hero image"
                width="100%" height="250"
                style="object-fit: cover; object-position: center 50%; border-radius: 6px;"
            />

            <article class="project">
                <article class="project__content">
                    <h2 class="project__heading">{{ project['name'] }}</h2>

                    <p>
                        This project is a full-stack microblogging web application, built from the ground up using Python and the Flask framework. Inspired by platforms like Twitter, it allows users to create accounts, publish short posts, and view a public feed, demonstrating a solid understanding of fundamental web development principles.
                    </p>
                    <p>
                        The primary goal of this project was to implement a complete, data-driven application that handles user authentication, content management, and dynamic page rendering. It serves as a practical demonstration of building a web service from the backend logic and database design all the way to the user-facing interface.
                    </p>
                </article>

                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">Technologies used</h3>
                        <ul class="technology-list">
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Python</li>
                        </ul>
                    </article>

                    <a class="cta" href="{{ project['prod'] }}" target="_blank" rel="noopener noreferrer">
                        <svg class="cta__icon" aria-hidden="true">
                        <use href="{{ url_for('static', filename='img/icons.svg') }}#icon-pointer-click"></use>
                        </svg>
                        View in production
                    </a>
                </section>
            </article>
        </div>
    </main>
{% endblock %}